#logo {
  width: 130px;
  margin-bottom: 30px;
  z-index: 2;
}
#left-row {
  position: relative;
  left: -20px;
  font-size: 12px;
  line-height: 10px;
  white-space:nowrap;
}
#left-column{
  float: left;
}
.norm-text {
  margin-top: 22px;
}
a{
  color: #0645ad;
}
a:hover{
  color: #0645ad;
}
a:visited{
  color: #0b0080;
}
body {
  background-color: #f4f4f4;
}
.right {
float: right;
}
.top{
  text-align: right;
  z-index: 0;
}
